body{

	background-color: pink;
	margin: 10px;
	padding: 0px;

}

.bob{

	color: purple;
	font-family: "Open Sans";
	font-size: 50px;
}

.cacahuate{
	font-family: "Times New Roman";
	color: blue;
}
.cacahuatess{
	color: green;


}

